<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="codeDebtSection" type="Neudesic.Tools.CodeDebt.Configuration.CodeDebtSettingsSection, Neudesic.Tools.CodeDebtTool" allowLocation="true" allowDefinition="Everywhere"/>
		<section name="codeDebtRepositorySection" type="Neudesic.Tools.CodeDebt.Configuration.RepositoriesSection, Neudesic.Tools.CodeDebtTool" allowLocation="true" allowDefinition="Everywhere"/>
	</configSections>
	<system.diagnostics>
		<trace autoflush="false" indentsize="4">
			<listeners>
				<clear />
				<add type="System.Diagnostics.ConsoleTraceListener" name="Console">
					<filter type="" />
				</add>
			</listeners>
		</trace>
	</system.diagnostics>
	<appSettings>
		<!--<add key="Repository" value="SqlRepository"/>-->
	</appSettings>
	<codeDebtRepositorySection default="SqlRepository">
		<repositories>
			<repository name="SqlRepository" type="Neudesic.Tools.CodeDebt.Repositories.SqlServerCodeDebtRepository, Neudesic.Tools.CodeDebtTool" connectionString="server=.;database=CodeBaseData;Integrated Security=true"/>
		</repositories>
	</codeDebtRepositorySection>
	<codeDebtSection debtKeys="TODO,HACK,QUAL">
		<fileTypes>
			<fileType fileType="*.asax.cs" commentIdentifiers="//, /*" />
			<fileType fileType="*.asax.h" commentIdentifiers="//, /*" />
			<fileType fileType="*.asax.vb" commentIdentifiers="'" />
			<fileType fileType="*.asp" commentIdentifiers="&lt;!--,//,', &lt;%--" />
			<fileType fileType="*.aspx" commentIdentifiers="&lt;!--,//,', &lt;%--" />
			<fileType fileType="*.aspx.cs" commentIdentifiers="//, /*" />
			<fileType fileType="*.aspx.vb" commentIdentifiers="'" />
			<fileType fileType="*.c" commentIdentifiers="//, /*" />
			<fileType fileType="*.codedebt" commentIdentifiers="" />
			<fileType fileType="*.cpp" commentIdentifiers="//, /*" />
			<fileType fileType="*.cs" commentIdentifiers="//, /*" />
			<fileType fileType="*.css" commentIdentifiers="/*" />
			<fileType fileType="*.cxx" commentIdentifiers="//, /*" />
			<fileType fileType="*.h" commentIdentifiers="//, /*" />
			<fileType fileType="*.htm" commentIdentifiers="&lt;!--,//,',&lt;%--" />
			<fileType fileType="*.html" commentIdentifiers="&lt;!--,//,',&lt;%--" />
			<fileType fileType="*.js" commentIdentifiers="//, /*" />
			<fileType fileType="*.sql" commentIdentifiers="--, /*" />
			<fileType fileType="*.vb" commentIdentifiers="'" />
		</fileTypes>
	</codeDebtSection>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
